*{
    box-sizing: border-box;
}
html{
    background-color: rgb(16, 16, 16);
    color: rgb(192, 192, 192);

}
a{color:red;}
a:visited{color: blanchedalmond;}
a:hover {color:rgb(128, 128, 128);}


.top{

    width: 100%;
    height: 12rem;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    background-color: rgb(27, 27, 27);
    justify-content: space-between;

}
.top img{
    padding: 1.5rem;
    width: 70%;
    height: 100%;

}
.top div{

}
.nav{
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    background-color: rgb(27, 27, 27);
    justify-content: space-between;
}
.nav-left{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
}
.nav-left h2{
    color: rgb(192, 192, 192);
    margin-left: 1.5rem;
}
.nav-right{
    height: 100%;
    width: 70%;
}

.nav-right{
    display: flex;

    margin-right: 1rem;
    align-items: center;
}
.nav-right input{
    color: rgb(192, 192, 192);
    border-radius: 5px;
    border: 0;
    background-color: white;
    height: 2rem;
}
.nav-right button{
    color: rgb(192, 192, 192);
    color: white;
    border-radius: 5px;
    border: 0;
    background-color: rgb(52, 52, 52);
    height: 2rem;
}

.container{
    width: 100%;
    /* background-color: red; */
    margin-top: 1rem;

    display: flex;

}
.bar{
    height: 1200px;
    width: 30%;
    background-color: rgb(27, 27, 27);
    border-radius: 5px;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}
.bar h1{
    height: 4.5%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 2rem;
}
.bar-box{
    height: 90%;
    margin: 1rem;
    /* background-color: green; */
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-gap: 1rem;
}
.bar-box-inner{
    background-color: rgb(13, 13, 15);
}
.bar-box div{

    font-size:small;
    /* background-color: red; */
    border-radius: 5px;
    display: flex;
}
.bar-box-inner div{
    /* background-color: white; */
    flex: 1;
    flex-direction: column
}
.bar-box-inner div img{

    width: 100%;
    height: 100%;
}
.bar-box-inner div h4{
    margin: 10px;
}
.main{
    width: 70%;
    border-radius: 5px;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    height: 1800px;
}
.main h1{
    margin-left: 1rem;
}
.main-wrap{
    /* background-color: red; */
    border-radius: 5px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.main-wrap div{
    /* border: 2px solid black; */
    border-radius: 5px;
    background-color: rgb(13, 13, 15);
    /* overflow: hidden; */
    min-height: 0;
    display: flex;
    flex-direction: column;
}
.main-wrap div img{
    border-radius: 5px;
    width: 100%;
    height: 246px;
}
.main-wrap div h4{
    margin: 10px;
    height: 15%;
}
.main-wrap div p{
    font-size: small;
    margin: 0 11px;  
    height: 40%;
}

.footer{
    font-size: small;
    margin-top: 1rem;
    width: 100%;
    background-color: rgb(27, 27, 27);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


  






@media screen and (max-width:900px) {
    .nav-left ul{
        display: none;
    }
    .nav-right{
        display: none;
    }
    .bar{
        display: none;
    }
    .main{
        width: 100%;
    }

}


@media screen and (max-width:1200px) {
    .main-wrap{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(6,1fr);
    }
}