*{
    box-sizing: border-box;
}


.container{
    grid-gap: 10px;
    grid-template-rows: 1fr 4fr 2fr;
    display: grid;
    height: 500px;
}
.nav{
    border-radius: 5px;
    background-color: rgb(243, 243, 243)    ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav h1{
    margin-left: 20px;
}
.nav ul{
    display: flex;
    width: 50%;
}
.nav ul li{
    margin-right: 30px;
    list-style: none;
}
.nav input{
    margin-left: 180px;
    width: 20%;
    height: 40px;
    border-radius: 1px solid pink;
    border: 1px solid pink;
}
.nav button{
    margin-right: 20px;
    width: 10%;
    height: 40px;
    border: 1px solid pink;
}

.content{
    background-color: rgb(243, 243, 243)    ;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}
.content-left{
    background-color: yellow;
}
.content-right{
    background-color: red;
}
